/* CSS STYLESHEET START */

.hidden {
	display: none;
}

#wrapper {
	width: 1300px;
	margin: 0px auto;
}

#mainHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	border-bottom: 2px lightgrey solid;
	margin-bottom: 32px;
}

#siteTitle {
	font-family: Helvetica, arial, sans-serif;
	font-size: 36px;
}

.mainNav {
	display: inline;
	margin-left: 16px;	
}

.mainNav ul {
	display: flex;
}

.mainNav ul li {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 12px;
}

.mainNav ul li a {
	font-family: Helvetica, arial, sans-serif;
	border-radius: 10px;
	color: #333;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s ease-in-out;
	padding: 10px;
}

.mainNav ul li a:hover {
	color: #333;
	background-color: #73B2E3;
}

#search input {
	margin-top: 16px;
	margin-bottom: 16px;
	width: 1300px;
	height: 32px;
}

.iconRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

object {
	border-radius: 125px;
	width: 250px;
	height: 250px;
	/*border: #000 5px solid;*/
}

object:hover {
	transition: all .5s ease-in-out;
	box-shadow: 0 7px 10px rgba(0,0,0,.5); 
}

#iconSelection {
	margin: 0px auto;
	padding-bottom: 32px;
}

#sectionMap {
	font-size: 24px;
	font-family: Helvetica, arial, sans-serif;

}

.icon {
	text-align: center;
	width: 250px;
}

.icon button {
	margin-top: 8px;
}

footer {
	width: 1300px;
	border-top: 2px lightgrey dashed;
	justify-content: center;
	align-items: center;
	padding-top: 32px;
}

#footerLinks {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#copyright {
	font-family: Helvetica, arial, sans-serif;
	color: #333;
	order: -1;
}

#socialMedia ul {
	display: flex;
	flex-direction: row;
}

#socialMedia ul li {
	padding: 10px;
}

#socialMedia img {
	width: 40px;
}

object {
	width: 250px;
	height: 250px;
}

button {
	color: white;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	height: 50px;
	width: 250px;;
	border-radius: 8px;
	border: none;
	
}

button:active {
	border: none;
}

.icoSelect {
	position: absolute;
	background-color: #3E7096;
	border-radius: 8px;
	margin-bottom: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 230px;
	margin-top: -238px;
	display: none;
	opacity: 0.95;
	padding: 10px;
}

.icoSelect img {
	width: 90px;
	padding: 10px;
	border-radius: 8px;
}

.icoSelect img:hover {
	cursor: pointer;
	border-radius: 2px;
	background-color: #73B2E3;
}

.email {
	width: 70px;
}

.animateEmail {
	animation: skew 0.75s forwards;
}

.addCollection {
	width: 40px;
}

.addCollection:hover {
	animation: dash 3s linear;
}

.emailButton, .collectionButton {
	background-color: #73B2E3;
}

.emailDropdown {
	position: absolute;
	display: none;
	padding: 10px;
	background-color: #3E7096;
	border-radius: 8px;
	opacity: 0.95;
}

.show {
	transition: 1s;
	display: block;
}

.emailForm {
	width: 220px;
	
	height: 25px;
	border-radius: 8px;
	padding-left: 8px;
}

#line1 {
	animation: dash 1s linear forwards;
}

@keyframes skew {
	0% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(-15deg);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
		stroke: rgba(0, 0, 0, 1);
		stroke-width: 1;
		fill: rgba(255, 0, 0, 0);
	}

	85% {
		stroke-dashoffset: 0;
		stroke-width: 2;
		fill: (rgba(255, 0, 0, 0));

	}

	100% {
		stroke-dashoffset: 0;
		stroke-width: 1;

	}
}